In [32]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [33]:
driver= webdriver.Chrome(r"C:\Users\shobh\Downloads\chromedriver_win32\chromedriver.exe")

In [34]:
driver.get('https://www.naukri.com/')

In [35]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [36]:
search_job.send_keys("Data Scientist")

In [37]:
search_loc= driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [38]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [50]:

    titles=driver.find_elements_by_xpath("//a [@class='title fw500 ellipsis']")
    companies=driver.find_elements_by_xpath("//a [@class='subTitle ellipsis fleft']")
    locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
    JD=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
    
    for i in range(len(titles)):
        (titles[i].text + ";" +companies[i].text+ ";"+locations[i].text+ ";"+JD[i].text+"\n")

In [59]:
job_titles=[]
for i in titles:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist, Modeling',
 'Big Data - Data Scientist',
 'Specialist I - Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'SDE Lead Data Scientist-L3',
 'Computational Design Lead Data Scientist-L3',
 'Hiring For DATA Scientist - ON Contract Basis (3-6 Months)',
 'Senior Data Scientist',
 'Senior Data Scientist - Chatbot & NLP',
 'Senior Data Scientist - Chatbot & NLP',
 'Senior Data Scientist',
 'Sr. Data Scientist',
 'Senior Data Scientist',
 'Senior Associate/Team Lead - Data Scientist Consulting',
 'Senior Data Scientist, Marketing Analytics',
 'Data Scientist',
 'Hiring For Lead data Scientist For Bangalore location']

In [53]:
job_companies=[]
for i in companies:
    job_companies.append(i.text)
job_companies

['Inflexion Analytix Private Limited',
 'Nielsen',
 'Xoriant Solutions Pvt Ltd',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Intel Technology India Pvt Ltd',
 'Oracle India Pvt. Ltd.',
 'Huawei Technologies India Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'GlobalEdx Learning and Technology Solution Pvt Ltd',
 'GO-JEK India',
 'Gojek Tech',
 'GO-JEK India',
 'nanobi data and analytics private limited',
 'VALIANCE ANALYTICS PRIVATE LIMITED',
 'BankBazaar.com (A&A DUKAAN FINANCIAL SERVICES PVT. LTD)',
 'Analytics India Magazine',
 'Hudsons Bay Company',
 'Applied Materials',
 'Societe Generale']

In [54]:
job_locations=[]
for i in locations:
    job_locations.append(i.text)
job_locations

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [55]:
job_JD=[]
for i in JD:
    job_JD.append(i.text)
job_JD

['Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to...',
 'Masters degree in Economics, Mathematics, Statistics, Engineering 5 years of relevant e...',
 'High motivation, good work ethic and maturityMinimum 1-3 yrs of proven project experien...',
 'Responsibilities and Key Result Areas Design and develop project prototypes and solutio...',
 'modeling and business system design with experience in relational SQL and NoSQL databas...',
 'Experience in using data analysis techniques and ML methods like classification, regres...',
 'Roles and Responsibilities Looking for 6+ yrs of experience in data science, predictive...',
 'Strong hands-on experience in implementing and validating big data algorithms and model...',
 'Business & Team overview:Founded in 1987, Huawei is a leading global provider of ICT (i...',
 'Experience : 3+ Years',
 'About the Role Fasten your helmet and climb on board if youre ready to be our Senior Da...',
 'Solid knowledge of Data Science and Machine Learning fundamentals, with proven experien...',
 'Solid knowledge of Data Science and Machine Learning fundamentals, with proven experien...',
 'These will be across industries and functions and must be designed generically to handl...',
 'Programming Language: Python / SQL (Must)',
 'Preferable to have Masters in a numerate subject such as Mathematics, Operational Resea...',
 'We should also let you know we put a premium on a few personality traits: - You are a p...',
 'Work with other members of the Marketing and Tech teams including Data, Analytics, and ...',
 'Education: Bachelors Degree analyzes possible solutions using technical experience and ...',
 'We are hiring for Lead data Scientist for Bangalore location Skills and QualificationsB...']

In [56]:
print(len(job_titles),len(job_companies),len(job_locations),len(job_JD))

20 20 20 20

In [60]:
job=pd.DataFrame({})
job['Title']=job_titles
job['Company']=job_companies
job['Location']=job_locations
job['Job_desc']=job_JD

In [61]:
job

,Title,Company,Location,Job_desc
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Applications invited from all Freshers and exp...
1,"Senior Data Scientist, Modeling",Nielsen,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...","Masters degree in Economics, Mathematics, Stat..."
2,Big Data - Data Scientist,Xoriant Solutions Pvt Ltd,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...","High motivation, good work ethic and maturityM..."
3,Specialist I - Data Scientist,Philips India Limited,Bangalore/Bengaluru,Responsibilities and Key Result Areas Design a...
4,Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,modeling and business system design with exper...
5,Lead Data Scientist,Intel Technology India Pvt Ltd,Bangalore/Bengaluru,Experience in using data analysis techniques a...
6,Data Scientist,Oracle India Pvt. Ltd.,Bangalore/Bengaluru,Roles and Responsibilities Looking for 6+ yrs ...
7,SDE Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,Strong hands-on experience in implementing and...
8,Computational Design Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,"Business & Team overview:Founded in 1987, Huaw..."
9,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Experience : 3+ Years
10,Senior Data Scientist,GO-JEK India,Bangalore/Bengaluru,About the Role Fasten your helmet and climb on...
11,Senior Data Scientist - Chatbot & NLP,Gojek Tech,Bangalore/Bengaluru,Solid knowledge of Data Science and Machine Le...
12,Senior Data Scientist - Chatbot & NLP,GO-JEK India,Bangalore/Bengaluru,Solid knowledge of Data Science and Machine Le...
13,Senior Data Scientist,nanobi data and analytics private limited,Bangalore/Bengaluru,These will be across industries and functions ...
14,Sr. Data Scientist,VALIANCE ANALYTICS PRIVATE LIMITED,"Bangalore/Bengaluru, Delhi / NCR",Programming Language: Python / SQL (Must)
15,Senior Data Scientist,BankBazaar.com (A&A DUKAAN FINANCIAL SERVICES ...,Bangalore/Bengaluru,Preferable to have Masters in a numerate subje...
16,Senior Associate/Team Lead - Data Scientist Co...,Analytics India Magazine,Bangalore/Bengaluru,We should also let you know we put a premium o...
17,"Senior Data Scientist, Marketing Analytics",Hudsons Bay Company,Bangalore/Bengaluru,Work with other members of the Marketing and T...
18,Data Scientist,Applied Materials,Bangalore/Bengaluru,Education: Bachelors Degree analyzes possible ...
19,Hiring For Lead data Scientist For Bangalore l...,Societe Generale,Bangalore/Bengaluru,We are hiring for Lead data Scientist for Bang...