In [18]:
# Importing Libraries & # Importing selenium webdriver 
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd
import os
import datetime
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium import webdriver

In [19]:
# Activating the chrome browser
driver= webdriver.Chrome(r"C:\Users\shobh\Downloads\chromedriver_win32\chromedriver.exe")

In [20]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
driver.implicitly_wait(20)

In [21]:
Rows = driver.find_element_by_xpath("//table[@class='in-article sortable']").find_elements_by_xpath("tbody/tr")
#creating empty list
name=[]
author=[]
vol=[]
publisher=[]
genre=[]

for i in Rows:
    j = i.find_elements_by_xpath("td")
    name.append(j[1].text)
    author.append(j[2].text)
    vol.append(j[3].text)
    publisher.append(j[4].text)
    genre.append(j[5].text)

In [22]:
#creating data frame
df = pd.DataFrame({'Name':name,'AuthorName':author,'VolumeSold':vol,'Publisher':publisher,'Genre':genre})
df

,Name,AuthorName,VolumeSold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General